appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
et-xmlfile==1.0.1
gnureadline==6.3.3
ipdb==0.9.3
ipython==4.2.0
ipython-genutils==0.1.0
jdcal==1.2
numpy==1.11.0
openpyxl==2.3.5
pandas==0.18.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
python-dateutil==2.5.3
pytz==2016.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
xlrd==0.9.4
xlwt==1.0.0
